@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-text: navy;
  --color-bg: papayawhip;
  --color-bg-accent: #ecdcc0;
  --size: clamp(10rem, 1rem + 40vmin, 30rem);
  --gap: calc(var(--size) / 14);
  --duration: 60s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background-color: #FFFFFF;
  font-family: 'Manrope', sans-serif;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    box-sizing: border-box;
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --color-text: papayawhip;
    --color-bg: navy;
    --color-bg-accent: #2626a0;
  }
} */

.logo {
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  mask-image: linear-gradient(
    var(--mask-direction, to right),
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 20%,
    hsl(0 0% 0% / 1) 80%,
    hsl(0 0% 0% / 0)
  );
}

.logo__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll-x var(--duration) linear infinite;
}

@media (prefers-reduced-motion: reduce) {
  .logo__group {
    animation-play-state: paused;
  }
}

.logo--reverse .logo__group {
  animation-direction: reverse;
  animation-delay: -3s;
}

@keyframes scroll-x {
  from {
    transform: translateX(var(--scroll-start));
  }
  to {
    transform: translateX(var(--scroll-end));
  }
}

@keyframes scroll-y {
  from {
    transform: translateY(var(--scroll-start));
  }
  to {
    transform: translateY(var(--scroll-end));
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  margin: auto;
  max-width: 100vw;
  max-height: 100vh;
}

@keyframes fade {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.svg-container {
  
  width: 6.66rem;
  height: 6.66rem;
  display: grid;
  place-items: center;
  width: var(--size); 
  /* background: var(--color-bg-accent);  */
  padding: calc(var(--size) / 10);
  border-radius: 0.5rem;
}

.svg-image {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;  
}

.cardContainer {
  min-height: 500px;
  height: 100%;
}

.cardImageContainer {
  position: relative;
  width: 100%;
  background-position: center;
  min-height: 288px;
}

/* .pageTitle:before {
  content: "";
  width: 45px;
  height: 2px;
  position: absolute;
  left: 0;
  top: calc(10% - 1px);
  background-image: linear-gradient(45deg,#ccefff,#60cafc 50%,#2f65ff);
} */

.expanded-container {
  margin: 0 auto;
  width: 100dvw;
  margin-left: calc(50% - 50dvw);
}
footer .border-top {
  border-top: 1px solid hsla(0 0% 0%/.8);
  border-radius: 0.2rem;
  height: 1.2rem;
  -webkit-mask-image: linear-gradient(#000 50%,transparent 0);
  mask-image: linear-gradient(#000 50%,transparent 0);
  position: relative;
  width: 100%;
}

footer .border-bottom {
  border: 1px solid hsla(0 0% 0%/.8);
  border-radius: 0.2rem;
  height: 1.2rem;
  -webkit-mask-image: linear-gradient(transparent 50%,#000 0);
  mask-image: linear-gradient(transparent 50%,#000 0);
  position: relative;
  width: 100%;
}